.App {
  text-align: center;
  overflow: hidden;
}

.content {
  text-align: center;
  display: flex;
  /* float: right; */
  bottom: 0px;
  height: 100vh;
  /* height: auto; */
  overflow-y: scroll;
}


.main {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.signin-container {
  align-items: center;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
}

.register-container {
  align-items: center;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 80px;
  padding-right: 80px;
}

.login-title {
  text-align: center;
  align-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.mr-auto {
  margin: auto!important;
  /* margin-left: auto!important; */
  /* margin-right: auto!important; */
}

.reg-profile {
  height: 180px;
  width: 180px;
}

.text-left {
  text-align: left;
}

.split-line {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: rgba(218, 212, 212, 0.925);
  padding-bottom: 10px;

}

.side-nav {
  position: relative;
  /* position: sticky; */
  float: left;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
}

.main-content {
  position: relative;
  margin-top: 56px;
  /* bottom: 0px; */
  height: 100vh;
}

